@import './scss/index.scss';
.app {
    h1 {
        color: $primary_color;
        font-size: 2.5rem;
    }
}
.success {
    border: 1px solid $success;
    background-color: $background-success;
}

.error {
    border:1px solid $error;
    background-color: $background-error;
}